body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

.top {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

th {
  background: #007bff;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}
